# This rule is not used by the project ovn-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to ovn.openstack.org resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: ovn-operator
    app.kubernetes.io/managed-by: kustomize
  name: ovnnorthd-viewer-role
rules:
- apiGroups:
  - ovn.openstack.org
  resources:
  - ovnnorthds
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ovn.openstack.org
  resources:
  - ovnnorthds/status
  verbs:
  - get
